* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* Card Component Styling*/

.card {
  width: 20%;
  padding: 1rem;
  margin: 2rem;
  border-radius: 6px;
  background: #355872;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.card h2 {
  color: white;
  font-size: 28px;
}
.card .list {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 12px;
}
.card .btn {
  width: 100%;
  border-radius: 6px;
  padding: 4px;
  background: F7F8F0;
  color: #355872;
  border: none;
  font-size: 16px;
}
