@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px;
  justify-content: start;
  max-width: 1280px;
  margin: auto;
}
.section {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section img {
  border-radius: 8px;
  object-fit: cover;
}
.section .heading {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.section .heading h2 {
  font-size: 28px;
  font-weight: 600;
}
.section button {
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  background-color: #f4f0e4;
  color: black;
  cursor: pointer;
}
.section button:hover {
  background-color: #f7f8f0;
}
